@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    list-style-type: none;
}

/*header*/

header {
    position: fixed;
    width: 100vw;
    height: 100px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.7)
}

.logo {
    margin-top: 35px;
    margin-left: 50px;
    float: left;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    font-size: 15px;
    font-weight: 800;
    margin-top: 35px;
    margin-right: 80px;
}

a, a:visited {
    color: #FFA823;
    text-decoration: none;
}

a:hover {
    color: #FFC874;
}

/*main*/

.section1 > img {
    width: 100%;
    display: block;
}

/*project*/

.Ptable {
    margin-top: 120px;
    margin-left: 120px;
}

.Ptable .Ptable-1 {
    font-size: 18px;
    font-weight: bold;
    color: #FFA823;
}

.Ptable .Ptable-2 {
    padding-left: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.Pimg {
    margin-bottom: 120px;
}

.Pimg img {
    margin-top: 120px;
}

.Pimg p {
    margin-top: 60px;
    margin-bottom: 120px;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}
.Pimg span {
    color: #FFA823;
}

.section2-p {
    margin-top: 240px;
    margin-left: 300px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.section2-p span {
    font-size: 24px;
    font-weight: bold;
    color: #FFA823;
}

.Ptable1 {
    margin-top: 180px;
    margin-left: 360px;
}

.Ptable1 .Ptable-3 {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.Ptable1 .Ptable-3 span {
    font-size: 40px;
    font-weight: bold;
    color: #FFA823;
}

.Ptable1 .Ptable-4 {
    padding-top: 120px;
    font-size: 18px;
    font-weight: 500;
}

.Ptable1 .Ptable-4 span {
    color: #FFA823;
}

.Ptable .Ptable-5 {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.Ptable .Ptable-6 {
    padding-top: 40px;
    padding-left: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

/*design*/

.Dtable {
    margin-top: 120px;
    margin-left: 120px;
}

.Dtable .Dtable-1 {
    font-size: 18px;
    font-weight: bold;
    color: #FFA823;
}

.Dtable .Dtable-2 {
    padding-top: 30px;
    padding-left: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.Dtable .Dtable-3 {
    font-size: 18px;
    font-weight: bold;
    color: #FFA823;
}

.Dtable .Dtable-4 {
    padding-top: 150px;
    padding-left: 60px;
}

.Dtable .Dtable-5 {
    font-size: 18px;
    font-weight: bold;
    color: #FFA823;
    padding-left: 120px;
}

.Dtable .Dtable-6 {
    padding-top: 120px;
    padding-left: 120px;
}

.Dtable .Dtable-7 {
    padding-top: 200px;
    padding-left: 60px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.Dtable .Dtable-7 span {
    font-weight: bold;
    color: #FFA823
}

.Dimg {
    margin-bottom: 120px;
}

.Dtable1 {
    margin-left: 300px;
}

.Dtable1 td {
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

.Dtable1 td span {
    font-size: 18px;
    font-weight: bold;
    color: #FFA823;
}

/*service*/

.section4 {
    text-align: center;
}

.Stable {
    margin-top: 120px;
    margin-left: 120px;
}

.Stable .Stable-1 {
    padding-top: 120px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.Stable1 {
    margin-top: 60px;
    margin-left: 120px;
    margin-bottom: 120px;
    
}

.Stable1 .Stable-2 {
    text-align: left;
    padding-bottom: 50px;
}

.Stable1 .Stable-3 {
    text-align: right;
    font-size: 18px;
    color: #FFFFFF;
}

.Stable1 .Stable-3 p {
    text-align: right;
    font-size: 80px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

.Stable1 .Stable-3 span {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

.Stable1 .Stable-4 {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 120px;
}

.Stable1 .Stable-4 p {
    text-align: right;
    font-size: 80px;
    font-weight: bold;
    color: #FFC874;
}

.Stable1 .Stable-4 span {
    text-align: right;
    color: #FFA823;
}

.Stable1 .Stable-5 {
    text-align: left;
    padding-bottom: 50px;
}

/*video*/

.section5 {
    width: 100vw;
    margin-top: 200px;
    margin-bottom: 150px;
    text-align: center;
}

.section6 {
    text-align: center;
}